body {
  --container-bg: rgb(100% 100% 100% / 0.3);
  --accent-vibrant: oklch(0.446 0.1 262);
  --accent-bright: oklch(0.346 0.069 262);
  --target-color: oklch(90% 0.5 90);
  --text-color: oklch(91% 0.05 247);
  font-size: 20px;
  margin: 0;
  font-family: "Geologica", sans-serif;
  color: var(--text-color);
}
.example {
  padding: 1em;
  padding-bottom: 10em;
  background-image: linear-gradient(
    250deg in oklab,
    var(--accent-bright) 0%,
    var(--accent-vibrant) 100%
  );
}
a {
  color: var(--accent-vibrant);
}
.example a {
  color: var(--target-color);
}
.container {
  background: var(--container-bg);
  margin-bottom: 1em;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1pt dashed var(--text-color);
  box-sizing: content-box;
}

#toc-wrapper-wrapper:not(:has(#pin:checked)),
#query-match {
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(
    250deg in oklab,
    var(--accent-bright) 0%,
    var(--accent-vibrant) 100%
  );
}

#toc-wrapper-wrapper:has(#pin:checked) {
  position: sticky;
  top: 0;
  z-index: 1;
}
#toc-wrapper {
  container-name: toc;
}
#radio-wrapper {
  container-name: radio;
}
#toc-wrapper,
#radio-wrapper {
  background: var(--target-color);
  min-width: 10em;
  min-height: 10em;
  height: 20em;
  width: 20em;
  padding: 1em;
  resize: both;
  overflow: auto;
  container-type: size;
  direction: ltr;
  color: var(--accent-vibrant);
}
#toc-wrapper:has(#pin:checked) {
  background: rgb(100% 100% 100% /0.7);
  float: right;
  border-bottom-left-radius: 0.5em;
  direction: rtl;
}
#toc-wrapper h1 {
  margin: 0;
}
#toc {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  padding-top: 1em;
}
#pin-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
#toc-wrapper:has(#pin:checked) #pin-wrapper {
  right: inherit;
  left: 0;
}

#radio-wrapper #yes {
  display: none;
}
#radio-wrapper #no {
  display: block;
}
#radio-wrapper .match-indicator {
  font-style: bold;
  font-size: 3em;
}
